<!DOCTYPE html>
<html>
    <head>
        <title>用户管理</title>
         <link rel="stylesheet" type="text/css" href="../../lib/bootstrap/css/bootstrap.min.css"/>
	    <link rel="stylesheet" type="text/css" href="../../lib/font-awesome/css/font-awesome.min.css"/>
	    <link rel="stylesheet" type="text/css" href="../../lib/AdminLTE/css/AdminLTE.min.css"/>
      <link rel="stylesheet" type="text/css" href="../../css/sys-admin/sys-admin.css">
    </head>
    <body>
    	<div class="wrapper" style="width: 100%;height: 100%">
		    <section class="content-header">
		      <h1>{{child}}</h1>
		      <ol class="breadcrumb">
		        <li><a href="#"><i class="fa fa-dashboard"></i>首页</a></li>
		        <li><a href="#">{{parent}}</a></li>
		        <li class="active">{{child}}</li>	
		      </ol>
		    </section>
	    	<div class="content">

	    <div class="box">
		     <div class="box-header with-border">
    <button type="button" class="btn btn-primary btn-flat"><i class="fa fa-plus"></i>添加</button>
        </div>   
	        <div class="box-body">
	          <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <thead>
                  <th>菜单名称</th>
                  <th>url</th>
                  <th>菜单图标</th>
                  <th>排序号</th>
                  <th>创建时间</th>
                  <th>操作</th>
                </thead>

                <tbody>
                  <template v-for="menu in menus">
                    <tr :id="menu.id">
                      <td><i class="fa fa-caret-right foldBtn" @click="openOrClose($event)"></i>{{menu.menuName}}</td>
                      <td>{{menu.url}}</td>
                      <td>{{menu.icon}}<i :class="menu.icon" class="iconShow"></i></td>
                      <td>{{menu.sortNum}}</td>
                      <td>{{menu.createTime}}</td>
                      <td><i class="fa fa-edit"></i>sss</td>
                    </tr>
                     <template v-for="subMenu in menu.subMenus">
                      <tr :pId="subMenu.parentId" style="display: none">
                        <td class="firstRow">{{subMenu.menuName}}</td>
                        <td>{{subMenu.url}}</td>
                        <td>{{subMenu.icon}}</td>
                        <td>{{subMenu.sortNum}}</td>
                        <td>{{subMenu.createTime}}</td>
                        <td><i class="fa fa-edit"></i>sss</td>
                      </tr>
                      </template>
                  </template>
              </tbody>
            </table>
            </div>
	        </div>
      </div>
	    	</div>
    	</div>		
    </body>
    <script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../../lib/vue/vue.min.js"></script>
    <script type="text/javascript" src="../../js/common.js"></script>
    <script type="text/javascript" src="../../js/sys/sys-menu.js"></script>
</html>