<!DOCTYPE html>
<html>
<head>
</head>

<body>
  <section class="content-header">
    <h1>{{child}}</h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i>首页</a></li>
      <li><a href="#">{{parent}}</a></li>
      <li class="active">{{child}}</li>
    </ol>
  </section>

  <div class="content">
    <div class="box">
     <div class="box-header with-border">
      <button type="button" class="btn btn-primary btn-flat" id="add" @click="add"><i class="fa fa-plus"></i>add</button>
    </div>
    <div class="box-body">
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <thead>
            <th>角色名称</th>
            <th>角色描述</th>
            <th>创建时间</th>
            <th>操作</th>
          </thead>

          <tbody>
            <template v-for="role in roles">
              <tr :id="role.id">
                <td><i class="fa fa-caret-right foldBtn"></i>{{role.roleName}}</td>
                <td>{{role.description}}</td>
                <td>{{role.createTime}}</td>
                <td>
                  <button type="button" class="btn btn-xs btn-primary btn-flat" @click="edit($event.currentTarget)"><i class="fa fa-edit"></i> edit</button>
                  <button type="button" class="btn btn-xs btn-danger btn-flat" @click="del($event.currentTarget)"><i class="fa fa-trash"></i> delete</button>
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--添加或者编辑-->
<div class="modal fade in" id="addOrUpdateModel" style="display: none; padding-right: 17px;">
  <div class="modal-dialog">
    <div class="modal-content">                  
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
          <h4 class="modal-title">添加菜单</h4>
        </div>
        <form id="addOrUpdateForm">
          <div class="modal-body form-horizontal">

            <input type="hidden" name="id" :value="id">
            <div class="box-body">
              <div class="form-group">
                <label class="col-sm-2 control-label">角色名称</label>

                <div class="col-sm-10">
                  <input type="text" class="form-control" name="roleName" placeholder="角色名称" id="roleName" v-model="roleName">
                </div>
              </div>
              <div class="form-group" v-show="parentId!=0">
                <label class="col-sm-2 control-label">角色描述</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="description" placeholder="角色描述" id="description" v-model="description">
                </div>
              </div>

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
            <button type="submit" class="btn btn-primary">保存</button>
          </div>
        </form>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

</body>
</html>