<!DOCTYPE html>
<html>
    <head>
    	<meta charset="UTF-8">
  		<title>首页</title>
	    <link rel="stylesheet" type="text/css" href="../lib/bootstrap/css/bootstrap.min.css"/>
	    <link rel="stylesheet" type="text/css" href="../lib/font-awesome/css/font-awesome.min.css"/>
	    <link rel="stylesheet" type="text/css" href="../lib/AdminLTE/css/AdminLTE.min.css"/>
	    <link rel="stylesheet" type="text/css" href="../lib/AdminLTE/css/skins/skin-blue.min.css"/>
	    <link rel="stylesheet" type="text/css" href="../css/index.css">
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
    	<div class="warpper" id="content">
    		<header class="main-header">
			    <a href="index2.html" class="logo">
			      <span class="logo-mini"><b>A</b>LT</span>
			      <span class="logo-lg"><b>Admin</b>LTE</span>
			    </a>
			    <nav class="navbar navbar-static-top" role="navigation">
			    	<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
			       		<span class="sr-only">Toggle navigation</span>
			        </a>

			        <div class="navbar-custom-menu">
        				<ul class="nav navbar-nav">

        					<li class="dropdown user user-menu">
					            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
					              <span class="hidden-xs">{{nick}}</span>
					            </a>
					            <ul class="dropdown-menu">
					              <li class="user-header">
					                <p>
					                  {{nick}}
					                </p>
					              </li>
					              
					              <!-- Menu Footer-->
					              <li class="user-footer">
					                <div class="pull-left">
					                  <a href="#" class="btn btn-default btn-flat">Change Password</a>
					                </div>
					                <div class="pull-right">
					                  <a href="#" class="btn btn-default btn-flat">Sign out</a>
					                </div>
					              </li>
					            </ul>
					          </li>

        				</ul>
        			</div>
		    	<nav>
    		</header>
    		 <!-- Left side column. contains the logo and sidebar -->
			  <aside class="main-sidebar">
			    <!-- sidebar: style can be found in sidebar.less -->
			    <section class="sidebar">
			      <!-- Sidebar Menu -->

			      <ul class="sidebar-menu" data-widget="tree">
			       	<li class="header">Menu</li>
			       	<li class="treeview" v-for="menu in menus">
			          <a href="#">
			            <i :class="menu.icon"></i> <span  v-cloak>{{menu.menuName}}</span>
			            <span class="pull-right-container">
			              <i class="fa fa-angle-left pull-right"></i>
			            </span>
			          </a>
			          <ul class="treeview-menu">
			            <li v-for="(child,index) in menu.subMenus" @click="toPage($event,index)" :data-url="child.url"><a><i class="fa fa-circle-o"></i>{{child.menuName}}</a>
			            </li>
			          </ul>
			        </li>
			      </ul>
			      <!-- /.sidebar-menu -->
			    </section>
			    <!-- /.sidebar -->
			  </aside>
		<script src="../lib/vue/vue.min.js"></script>
	    <script src="../lib/jquery/jquery.min.js"></script>
		<script src="../lib/bootstrap/js/bootstrap.min.js"></script>
		<script src="../lib/AdminLTE/js/adminlte.min.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
		<script src="../js/index.js"></script>		
			 	
			   <iframe src="welcome.html" frameborder="0" scrolling="no" id="iframe" class="iframe">
			    </iframe>
					  
    	</div>

    </body>

    
</html>