
.box-header > button > i{
	margin-right: 5px;
}

.foldBtn{
	width: 20px;
}
.table > tbody > tr > .firstRow{
	padding-left: 27px;
}

.iconShow{
	padding-left: 10px;
}

.table >thead >tr > th:nth-child(1){
	padding-left: 27px;
	width: 15%;
}
.table >thead >tr > th:nth-child(2){
	width: 15%;
}
.table >thead >tr > th:nth-child(3){
	width: 15%;
}
.table >thead >tr > th:nth-child(4){
	width: 10%;
}
.table >thead >tr > th:nth-child(5){
	width: 15%;
}
.table >thead >tr > th:nth-child(6){
	width: 30%;
}